services:
  db:
    image: postgres:18
    environment:
      POSTGRES_DB: bloom_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql

volumes:
  pg_data:
